.heroSection {
    position: relative;
    background-color: #FDA923;
    overflow: hidden;
    padding-top: 4rem;
}

.heroInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heroContent {
    max-width: 600px;
    z-index: 2;
}

.heroTitle,
.heroContent {
    font-family: var(--font-display);
    color: #fff;
}

.heroSubtitle {
    font-size: clamp(2rem, 5vw, 4.5rem);
}

.heroImage {
    display: block;
    width: min(700px, 80vw);
}

.heroFigure {
    position: relative;
    z-index: 1;
}

.heroFigure::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20%;
    right: -30%;
    border-radius: 50%;
    display: block;
    background-color: #FF7D01;
    width: 120%;
    aspect-ratio: 1/1;
}

.svgHero {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: clamp(70px, 50vw, 250px);
    fill: var(--color-background);
    z-index: 10;
}