@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: Vaseline;
  src: url(assets/fonts/vaseline_extra/Vaseline\ Extra.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #FF9201;
  --color-primary-light: #FAC51A;
  --color-primary-hover: #dd5303;

  /* --color-background: #F5F5F5; */
  --color-background: #f5f5f5;
  --color-muted: #E3E3E3;
  --color-surface: #FFFFFF;

  --color-text: #333333;
  --color-text-light: #666666;


  --color-success: #4CAF50;
  --color-error: #F44336;

  --color-border: #E0E0E0;

  --color-primary-hover: #e66f00;

  --color-card-bg: #FFF8F0;

  --font-default: "Poppins", sans-serif;
  --font-display: "Vaseline", "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  background-color: var(--color-background);
  overflow-x: hidden;
}

.fontDisplay {
  font-family: var(--font-display);
  font-weight: 400;
  line-height: 0.95;
  letter-spacing: 0.06em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
